# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Virtual Environment
env/
venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Pipenv
Pipfile
Pipfile.lock

# Poetry
poetry.lock